.formulario {
    max-width: 972px;
    font-family: Montserrat, sans-serif;
    margin-top: 150px;
    margin-bottom: 50px;
}
.categoria {
    width: 10rem;
}

.buttonSubmit {
    display: flex;
    justify-content: center;
}
@media (max-width: 1070px) {
    .formulario {
        padding: 1.87rem !important ;
    }

    .formDropdown {
        /* max-width: 4rem !important; */
        display: grid !important;
    }

    .formCep {
        display: grid;
    }

    .formStyle {
        width: 100% !important;
    }
}

@media (max-width: 1070px) {
}
