.hero {
    background-image: linear-gradient(
        15deg,
        var(--primary-color) 0%,
        var(--secondary-color) 100%
    );
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 150px;
}
