*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-color: #13547a;
    --secondary-color: #80d0c7;
    --section-bg-color: #f0f8ff;
    --custom-btn-bg-color: #80d0c7;
    --custom-btn-bg-hover-color: #13547a;
    --p-color: #717275;
    --border-color: #7fffd4;
    --link-hover-color: #13547a;

    --body-font-family: "Open Sans", sans-serif;
    --title-font-family: "Montserrat", sans-serif;
}

body {
    font-size: 100%;
    list-style-type: none;
    font-family: var(--body-font-family);
}

h1 {
    font-size: 58px;
    font-weight: 700;
    font-family: var(--title-font-family);
}

h6 {
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 600;
    font-family: var(--title-font-family);
}
