*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-color: #13547a;
    --secondary-color: #80d0c7;
    --section-bg-color: #f0f8ff;
    --custom-btn-bg-color: #80d0c7;
    --custom-btn-bg-hover-color: #13547a;
    --p-color: #717275;
    --border-color: #7fffd4;
    --link-hover-color: #13547a;

    --body-font-family: "Open Sans", sans-serif;
    --title-font-family: "Montserrat", sans-serif;
}

body {
    font-size: 100%;
    list-style-type: none;
    font-family: var(--body-font-family);
}

h1 {
    font-size: 58px;
    font-weight: 700;
    font-family: var(--title-font-family);
}

.content {
    
}

h2 {
    font-size: 46px;
    font-weight: 700;
    font-family: var(--title-font-family);
}

h6 {
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 600;
    font-family: var(--title-font-family);
}

.nav-tabs {
    border-bottom: 1px solid #ecf3f2;
    margin-bottom: 40px;
    justify-content: center;
}

.nav-tabs .nav-link {
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    color: var(--p-color);
    font-family: var(--title-font-family);
    font-size: var(--btn-font-size);
    font-weight: 600;
    padding: 15px 25px;
    transition: all 0.3s;
}
.nav-tabs .nav-link:first-child {
    margin-right: 20px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-bottom-color: var(--primary-color);
    color: var(--primary-color);
}
