.card {
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    overflow: hidden;
    padding: 30px;
    transition: all 0.3s ease;
    height: 100%;
}

.card:hover {
    transform: translateY(-3px);
}

.cardTitle {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--title-font-family);
}
.tag {
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 1rem;
    font-family: var(--title-font-family);
    font-weight: 500;
    color: #fff;
}
.cardText {
    margin-top: 10px;
    color: var(--p-color);
    font-size: 20px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Número de linhas após o qual o texto será cortado */
    overflow: hidden;
    line-height: 1.2em;
    height: 3.6em; /* line-height * número de linhas */
}

.cardImg {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
