:root{
    --body-font-family:             'Open Sans', sans-serif;
    --title-font-family:            'Montserrat', sans-serif;
}

.bg-body-tertiary {
    
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 150px;
    display: inline-block;
}

.navbar-brand{
    display: flex;
}

.navbar-brand img{
    padding: 0 0.5em 0.5em 0em;
}

.titleBrand {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
}

.navbar {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.navbar:hover {
    color: #13547a;
}

.navbar a {
    color: white;

}

@media (max-width: 398px) {
    .customBrand {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
    }
}

@media (min-width: 992px) {
    .navcontainer {
    display: flex!important;
    flex-basis: auto;
    align-items: center;
    justify-content: space-between;
    }


}