.footer {
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    margin: 0!important;
    background-color: #80d0c7;
    color: white;
    text-align: center;
    padding: 2em 4em 5em;
}

@media(max-width:1140px) {
    .footer{
        display: grid;
        padding: 2em 0em 5em;
        
    }
}
